body{
    min-height: 100vh;
    background:  hsl(185, 41%, 84%);
    overflow: hidden;
    padding: 5% 14%;
}
#top p{
    text-align: center;
}

.splitter{
    color: hsl(186, 14%, 43%);
    letter-spacing: 6px;
    margin: 0;
    /* padding: 0; */
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}
#splitter{
    margin-bottom: 3%;
}
/* for the central main white portion */
#maincontent{
    border-radius: 10px;
    display: flex;
    background-color: white;
}

/* for the left part taking the input */

#input{
    padding: 24px 36px;
    width: 60%;
}
#input label{
    font-family: 'Space Mono', monospace;
    display: block;
}

/* for all the precentage buttons */
.container1{
    /* DOES NOT KNOW WHY CSS GRID DID NOT WORKED HERE */
    /* display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-gap: 17px; */
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7%;
    width: 110%;
}
.item1{ 
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    width: 29%;
    padding: 2.5% 0%;
    margin: 2% 1.5%;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    border-radius: 5px;
}
.item1:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}
/* targeting only the custom button */
#custom{
    width: 28%;
    text-align: center;
    font-family: 'Space Mono', monospace;
    /* font-size: 17px; */
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
}
#custom:hover{
    border: 2px solid hsl(172, 67%, 45%);
    
    cursor: pointer;
}
/* targeting all the input spaces */
/* Removed the up/down button in the input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

  /* styling of input boxes */
input[type = "number"]{
    color: hsl(183, 100%, 15%);
    outline: none;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    width: 105%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: hsl(189, 41%, 97%);
}
input[type = "number"]:hover{
    border: 2px solid hsl(172, 67%, 45%);
    cursor: pointer;
    color: hsl(183, 100%, 15%);
}
/* for Bill part */
#bill{
    margin-bottom: 10%;
}
.billwithicon{
    position: relative;
    top: 0px;
}
input[type="number"] {
    text-align: right;
  }
  /* for bill icon */
.icon1{
    position: absolute;
    top: 25%;
    left: 9%;
    color: hsl(184, 14%, 56%);
}
/* for number_of_people icon */
.icon2{
    position: absolute;
    top: 40%;
    left: 9%;
    color: hsl(184, 14%, 56%);
}
/* for number_of_people part */
#nop{
    margin-bottom: 0%;
}
#redError{
    padding-left: 26%;
    display: none;
    color: red;
    margin: 0;
}
/* for the right part giving the output */

/* In the three divs and also in their parent div (of the output part), I applied display: flex and justify-content: space-between, which is the most important part */
#output{
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    color: white;
    margin: 3% 3%;
    padding: 5% 3.5%;
    padding-bottom: 3.5%;
    box-sizing: border-box;
}

.section1{
    justify-content: space-between;
    display: flex;
    padding-top: 0%;
    padding-bottom: 0%;
}
.section2{
    justify-content: space-between;
    display: flex;
    padding-top: 10%;
}
.section3{
    justify-content: space-between;
    display: flex;  
    text-align: center;
    border-radius: 5px;
}
.person{
    font-size: 15px;
    margin: 0;
    color: hsl(184, 14%, 56%);
}
.values{
    color: hsl(172, 67%, 45%);
    font-size: 44px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.section3 button{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    padding: 3%;
    width: 100%;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
}
.section3 button:hover{
    background-color: hsl(185, 41%, 84%);
    cursor: pointer;
}


/* PHONE CSS */
@media(max-width: 750px) and (min-width: 0px){
    body{
        padding: 8% 0%;
        margin: 0;
        overflow: scroll;
    }
    #maincontent{
        align-items: center;
        flex-direction: column;
    }
    #input{
        width: 81%;
    }
    #output{
        width: 89%;
    }
    .bigsection{
        padding-bottom: 15%;
    }
    .values{
        font-size: 34px;
    }
}